* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: lightslategray;
}

h1 {
  font-size: 4.8rem;
}

@media (max-width: 600px) {
  body {
    background: rgb(138, 186, 248);
  }
}
